<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style/main.css">
<title>about</title>
</head>
<body>
    <%- include('layout/navbar') %>
    <h1>this is about page</h1>
<h2>hi <%= name %></h2>
</body>
</html>